@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Regular.woff') format('woff');
}

:root {
  font-family: Pretendard;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}
